{% extends "::base.html.twig" %}

{% block body %}
    <div class="page-container">
        <div class="container">
            <h1 class="caption-color">পাসওয়ার্ড পরিবর্তন</h1>
            <div class="col-md-7 col-sm-7">
                {{ form_start(form,{'attr':{'class':'form-horizontal','id':'passwordChangeForm', 'novalidate':'novalidate','autocomplete':'off'}}) }}

                <div class="form-group">
                    <label  class="col-lg-4 control-label">পুরাতন পাসওয়ার্ড <span class="require">*</span></label>
                    <div class="col-lg-8">
                        {#<input type="text" class="form-control" id="password">#}
                        {{ form_widget(form.Password,{'attr':{'class':'form-control',}}) }}
                        <span class="help-block validation-style">{{ form_errors(form.Password)}}</span>
                    </div>

                </div>
                <div class="form-group">
                    <label  class="col-lg-4 control-label">নতুন পাসওয়ার্ড <span class="require">*</span></label>
                    <div class="col-lg-8">
                        {#<input type="text" class="form-control" id="password">#}
                        {{ form_widget(form.password.first,{'attr':{'class':'form-control',}}) }}
                        <span class="help-block validation-style">{{ form_errors(form.password.first)}}</span>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">নিশ্চিত পাসওয়ার্ড <span class="require">*</span></label>
                    <div class="col-lg-8">
                        {#<input type="text" class="form-control" id="confirm-password">#}
                        {{ form_widget(form.password.second,{'attr':{'class':'form-control',}}) }}
                        <span class="help-block validation-style">{{ form_errors(form.password.second)}}</span>
                    </div>

                </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                            {{ form_widget(form.save,{'attr':{'class':'btn btn-primary button-save-color',}}) }}
                        </div>
                    </div>

                {{ form_end(form) }}

            </div>
            <div class="col-md-4">
                <div class="form-info">
                    <h2><em>Important</em> Information</h2>
                    <p>Duis autem vel eum iriure at dolor vulputate velit esse vel molestie at dolore.</p>

                    <button type="button" class="btn btn-default button-save-color">More details</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@UserBundle/Resources/Public/js/passwordChangeValidation.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptBlock %}