{% extends "::base.html.twig" %}

{% block body %}
    <div class="page-container">
        <!-- BEGIN SLIDER -->
        <div class="container">

            <h2 class="caption-color">নিবন্ধন করুন</h2>
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    {{ form_start(form,{'attr':{'class':'form-horizontal','id':'registrationFrom', 'novalidate':'novalidate','autocomplete':'off'}}) }}

                        <fieldset>
                            <legend class="caption-color">আপনার ব্যক্তিগত তথ্যসমূহ</legend>
                            <div class="form-group">
                                <label  class="col-lg-4 control-label">জাতীয় পরিচয় পত্র</label>
                                <div class="col-lg-8">
                                    {{ form_widget(form.nationalId,{'attr':{'class':'form-control',}}) }}
                                    <span class="help-block validation-style">{{ form_errors(form.nationalId)}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-lg-4 control-label">জন্ম তারিখ</label>
                                <div class="col-lg-8">
                                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" >
                                        {#<input type="text" class="form-control" style="width:383px;" readonly>#}
                                        {{ form_widget(form.profile.birthDate,{'attr':{'class':'form-control','readonly':'on'}}) }}
                                            <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                    </div>
                                    <span class="help-block validation-style">{{ form_errors(form.profile.birthDate)}}</span>
                                </div>


                            </div>
                            <div class="form-group">
                                <label  class="col-lg-4 control-label">নাম <span class="require">*</span></label>
                                <div class="col-lg-8">
                                    {#<input type="text" class="form-control" id="firstname">#}
                                    {{ form_widget(form.profile.fullname,{'attr':{'class':'form-control',}}) }}
                                    <span class="help-block validation-style">{{ form_errors(form.profile.fullname)}}</span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label  class="col-lg-4 control-label">পিতার নাম <span class="require">*</span></label>
                                <div class="col-lg-8">
                                    {#<input type="text" class="form-control" id="lastname">#}
                                    {{ form_widget(form.profile.fatherName,{'attr':{'class':'form-control',}}) }}
                                    <span class="help-block validation-style">{{ form_errors(form.profile.fatherName)}}</span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label  class="col-lg-4 control-label">মাতার নাম <span class="require">*</span></label>
                                <div class="col-lg-8">
                                    {#<input type="text" class="form-control" >#}
                                    {{ form_widget(form.profile.motherName,{'attr':{'class':'form-control',}}) }}
                                    <span class="help-block validation-style">{{ form_errors(form.profile.motherName)}}</span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">লিঙ্গ </label>
                                <div class="col-lg-8">
                                    {#<select name="foo" class="select2me form-control">#}
                                        {#<option value="1">লিঙ্গ নির্বাচন করুন </option>#}
                                        {#<option value="1">পুরুষ</option>#}
                                        {#<option value="1">মহিলা</option>#}
                                    {#</select>#}
                                    {{ form_widget(form.profile.gender,{'attr':{'class':'form-control',}}) }}
                                    <span class="help-block validation-style">{{ form_errors(form.profile.gender)}}</span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-lg-4 control-label">প্রোফাইল ছবি</label>

                                <div class="col-lg-8 fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                    </div>
                                    <div>
                                                    <span class="btn default btn-file">
                                                    <span class="fileinput-new">
                                                    Select image </span>
                                                    <span class="fileinput-exists">
                                                    Change </span>
                                                        {{ form_widget(form.profile.file) }}
                                                    </span>
                                        <a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
                                            Remove </a>
                                    </div>
                                    <br/>
                                    <span class="help-block validation-style">{{ form_errors(form.profile.file)}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label  class="col-lg-4 control-label">ইমেইল </label>
                                <div class="col-lg-8">
                                    {#<input type="text" class="form-control" id="password">#}
                                    {{ form_widget(form.email,{'attr':{'class':'form-control',}}) }}
                                    <span class="help-block validation-style">{{ form_errors(form.email)}}</span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label  class="col-lg-4 control-label">ঠিকানা <span class="require">*</span></label>
                                <div class="col-lg-8">
                                    {#<textarea class="form-control" rows="3"></textarea>#}
                                    {{ form_widget(form.profile.address,{'attr':{'class':'form-control',}}) }}

                                    <span class="help-block validation-style">{{ form_errors(form.profile.address)}}</span>
                                </div>

                            </div>

                        </fieldset>
                        <fieldset>
                            <legend class="caption-color">পাসওয়ার্ড</legend>
                            <div class="form-group">
                                <label  class="col-lg-4 control-label">মোবাইল নম্বর <span class="require">*</span></label>
                                <div class="col-lg-8">
                                    {#<input type="text" class="form-control" >#}
                                    {{ form_widget(form.phoneNumber,{'attr':{'class':'form-control',}}) }}
                                    <span id="valid-msg" class="hide error">✓ নম্বর টি সঠিক </span>
                                    <span id="error-msg" class="hide error">নম্বর টি সঠিক নয় </span>
                                    <span class="validation-style">{{ form_errors(form.phoneNumber)}}</span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label  class="col-lg-4 control-label">পাসওয়ার্ড <span class="require">*</span></label>
                                <div class="col-lg-8">
                                    {#<input type="text" class="form-control" id="password">#}
                                    {{ form_widget(form.password.first,{'attr':{'class':'form-control',}}) }}
                                    <span class="help-block validation-style">{{ form_errors(form.password.first)}}</span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">নিশ্চিত পাসওয়ার্ড <span class="require">*</span></label>
                                <div class="col-lg-8">
                                    {#<input type="text" class="form-control" id="confirm-password">#}
                                    {{ form_widget(form.password.second,{'attr':{'class':'form-control',}}) }}
                                    <span class="help-block validation-style">{{ form_errors(form.password.second)}}</span>
                                </div>

                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                                {#<button type="submit" class="btn btn-primary button-save-color">অ্যাকাউন্ট তৈরি করুন</button>#}
                                {{ form_widget(form.save,{'attr':{'class':'btn btn-primary button-save-color',}}) }}
                            </div>

                        </div>
                        {{ form_end(form) }}
                </div>
                <div class="col-md-4 ">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>গুরুত্বপূর্ণ তথ্য
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height:200px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                                <p>নিবন্ধন করার মাধ্যমে আপনি আপনার সকল আবেদনের অবস্থা যাচাই, আবেদনের ইতিহাস দেখা, বাক্তিগত তথ্য দেখা ও পরিবর্তন করতে পারবেন।</p>
                                <p> আপনি ইতিমধ্যে নিবন্ধিত থাকলে নিম্নের বাটন এ ক্লিক করে লগইন করুন।</p>
                                <a class="btn btn-primary button-save-color" href="{{ path('login') }}">লগইন করুন</a>
                            </div>
                        </div>
                    </div>
                    <!-- END Portlet PORTLET-->
                </div>
            </div>

            <!-- END CONTENT -->
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@UserBundle/Resources/Public/js/registrationValidation.js'
    'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
    'assets/admin/pages/scripts/components-pickers.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptBlock %}
{% block documentReady %}
    {{ parent() }}
    ComponentsPickers.init();
{% endblock %}